NEXT_PUBLIC_API_URL=http://localhost:8000

# From Supabase → Project Settings → API
NEXT_PUBLIC_SUPABASE_URL=https://jsiiyrqqftefhslqvzph.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpzaWl5cnFxZnRlZmhzbHF2enBoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQ0NjQ5MjAsImV4cCI6MjEwMDA0MDkyMH0.ei5a9h2t7vQqxIXOSOK-jDhfLLQ99N_Uh7w1L_N_mTA
